.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
  font-family: "Baskervville", serif;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}
header {
  font-size: 64px;
  text-align: center;
}
h1 {
  text-transform: capitalize;
}
a {
  color: none;
  text-decoration: none;
}
