form {
  font-size: 34px;
  padding: 5px 5px;
}
.Dictionary label {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 20px;
  display: block;
  line-height: 29px;
}
.Dictionary section {
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  border-radius: 8px;
  background: #fff;
  margin-top: 10px;
  padding: 40px;
}

.Dictionary input {
  height: 64px;
  color: #666;
  font-size: 18px;
  line-height: 21px;
  padding: 22px;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.Dictionary .hint {
  margin-top: 15px;
  display: block;
}