.Results a {
  color: #6c63ff;
  font-weight: 400;
  margin-right: 15px;
  font-size: 14px;
  line-height: 17px;
  padding: 8px 18px;
  border: 1px solid #ddd;
  border-radius: 50px;
  text-decoration: none;
}

.Results em {
  font-size: 14px;
  line-height: 15px;
  color: #666;
}
.Results p {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 20px 0 10px;
}

.Results h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000;
}

.Phonetics {
  margin: 10px 0 0;
}

.Phonetics h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 19px;
  color: #666;
}

.phonetic {
  padding: 5px 0;
}
